<header class="site-header">
    <img src="{{ site.baseurl }}/assets/images/husky_logo_crop.png">
    <nav>
        <ul class="main-menu">
            <li><a class="page-link" href="{{site.baseurl}}/">Home</a></li>
            <li><a class="page-link" href="{{site.baseurl}}/blog">Blog</a></li>
            <li class="menu-item-dropdown"><a class="page-link" href="javascript:void(0)">Topics &#9662;</a>
                <ul class="sub-menu">
                    <li><a href="{{site.baseurl}}/topics/probability">Probability</a></li>
                    <li><a href="{{site.baseurl}}/topics/optimization">Optimization</a></li>
                    <li><a href="{{site.baseurl}}/topics/reinforcement-learning">Reinforcement Learning</a></li>
                    <li><a href="{{site.baseurl}}/topics/web">Web</a></li>
                    <li><a href="{{site.baseurl}}/topics/programming">Programming</a></li>
                    <li><a href="{{site.baseurl}}/topics/miscellaneous">Miscellaneous</a></li>
                </ul>
            </li>
            <li><a class="page-link" href="{{site.baseurl}}/research">Research</a></li>
            <li><a class="page-link" href="{{site.baseurl}}/projects">Projects</a></li>
            <li class="menu-item-dropdown"><a class="page-link" href="javascript:void(0)">Contact</a>
                <ul class="sub-menu">
                    <li>linkedin</li>
                    <li>github</li>
                    <li>mail</li>
                    <li>rss</li>
                </ul>
            </li>
        </ul>
    </nav>
</header>