<header class="site-header">
  <div class="site-title-container">
    <img src="{{ site.baseurl }}/images/husky_logo_crop.png" height="70" style="float: left; margin-right: 15px;">
    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3 class="site-title-tagline">{{ site.tagline }}</h3>
  </div>

  <!--nav class="wrapper"-->
    <nav class="site-nav-div">
      {% comment %}
      <div class="text-nav-column">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% endfor %}
      </div>
      {% endcomment %}
      <div class="text-nav-column">
        {%for t in site.nav_pages%}
          {% if t == "home"%}
            <a class="page-link" href="{{site.baseurl}}/">{{t | capitalize}}</a>
          {% else %}
            {% assign pgurl = site.baseurl | append: "/" | append: t %}
            <a class="page-link" href="{{pgurl}}/">{{t | capitalize}}</a>
          {% endif %}
        {%endfor%}
      </div>
      <div class="icon-nav-column">
        {% if site.linkedin_page != empty %}
        <a href="{{site.linkedin_page}}" title="LinkedIn: {{site.linkedin_page}}" class="icon-link"><i class="fa fa-linkedin"></i></a>
        {% endif %}
        {% if site.github_username != empty %}
          <a href="https://github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}" class="icon-link"><i class="fa fa-github"></i></a>
        {% endif %}
        {% if site.email != empty %}
          <a href="mailto:{{site.email}}" title="mailto: {{site.email}}" class="icon-link"><i class="fa fa-envelope"></i></a>
        {% endif %}
        {% if site.rss_page != empty %}
          <a href="{{page.url | prepend: site.baseurl}}feed.xml" title="RSS feed" class="icon-link"><i class="fa fa-rss"></i></a>
        {% endif %}
      </div>
    <!--/div-->
  </nav>

</header>
