<header class="site-header">
  <img src="{{ site.baseurl }}/assets/images/husky_logo_crop.png">
  <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <h3 class="site-title-tagline">{{ site.tagline }}</h3>
</header>

<nav class="wrapper nav-container">
  <div class="nav-text-col">
    {%for t in site.nav_pages%}
      {% if t == "home" %}
        <a class="page-link" href="{{site.baseurl}}/">{{t | capitalize}}</a>
      
      {% elsif t == "topics" %}
        <div class="dropdown">
          <a href="javascript:void(0)" class="page-link">{{t | capitalize}}</a>
          <div class="dropdown-content">
            <ul>
            {% for tp in site.nav_topics %}
              <li><a href="{{site.baseurl}}/{{t}}/{{tp | downcase}}">{{tp}}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      
      {% else %}
        {% assign pgurl = site.baseurl | append: "/" | append: t %}
        <a class="page-link" href="{{pgurl}}/">{{t | capitalize}}</a>
      {% endif %}
    {%endfor%}
  </div>

  <div class="nav-icon-col">
    {% if site.linkedin_page != empty %}
    <a href="{{site.linkedin_page}}" title="LinkedIn: {{site.linkedin_page}}" class="icon-link"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.github_username != empty %}
      <a href="https://github.com/{{site.github_username}}" title="Github ID: {{site.github_username}}" class="icon-link"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.email != empty %}
      <a href="mailto:{{site.email}}" title="mailto: {{site.email}}" class="icon-link"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.rss_page != empty %}
      <a href="{{page.url | prepend: site.baseurl}}feed.xml" title="RSS feed" class="icon-link"><i class="fa fa-rss"></i></a>
    {% endif %}
  </div>
</nav>