<!--using JS for implementation-->
<div class="pager-container">

  <div class="pager-text-col">
    <p>Page {{paginator.page}} of {{paginator.total_pages}}</p>
  </div>

  <div class="pager-icon-col" id="pager-icon-col">
    <script src="{{site.baseurl}}/assets/js/pagination.js"></script>
    <script>
      curr_page, total_pages, pageurl, base
      var curr_page = parseInt('{{paginator.page}}');
      var total_pages = parseInt('{{paginator.total_pages}}');
      var pageurl = '{{page.url}}';
      var base = '{{site.baseurl}}';
      mytest(curr_page, total_pages, pageurl, base);
    </script>
    
  </div>
</div>