/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
 
 
 
 /**
  * Basic styling
  */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}
 
 
 
 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
 h1, h2, h3, h4, 
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
   margin-bottom: $spacing-unit / 2;
 }

 
 /**
  * Images
  */
 img {
   max-width: 100%;
   vertical-align: middle;
 }
 
 
 
 /**
  * Figures
  */
 figure {
   padding: 20px 0 20px 0;
   margin: auto;
 }
 
 figure > img {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
 figcaption {
   font-size: $small-font-size;
   color: $grey-color;
   text-align: center;
   padding: 2px;
 }
 
 
 
 /**
  * Lists
  */
 ul, ol {
   margin-left: $spacing-unit;
 }
 
 li {
   > ul,
   > ol {
     margin-bottom: 0;
   }
 }
 
 
 
 /**
  * Headings
  */
 h1, h2, h3, h4, h5, h6 {
   font-weight: 700; // all bold
 }
 
 
 
 /**
  * Links
  */
 a {
   color: $brand-color; //$brand-top-color;
   text-decoration: none;
 /*
   &:visited {
     color: darken($brand-top-color, 25%);
   }
 */
   &:hover {
     color: $hover-color;
     text-decoration: underline;
   }
 }
 
 
 .post-content a{
   color: $brand-color;    
   text-decoration: none;  
   //border-bottom: 1px dotted;
 /*  
   &:visited {             
     color: darken($brand-color, 25%);
   }                       
 */
   &:hover {               
     color: $hover-color;
     text-decoration: underline;
   }  
 
 }
 
 /**
  * Blockquotes
  */
 blockquote::before{
   position: absolute;
   font-family: FontAwesome;
   content: "\f10d";
   font-size: 25px;
   //margin-left: -2px;
 }
  
 blockquote{
   padding: 10px 10px;
   margin: 10px 0;
   //border: 2px dashed #d0dfda;
   border-left: 5px solid rgb(140,191,165);
   border-radius: 3px;
   color: $grey-color;
   background: #f9f9f9;
 /*
   &:hover {
     color: #454545;
   }
 */
   p {
     margin-left: 35px;
     margin-top: 5px;
   }
   > :last-child {
     margin-bottom: 0;
   }
 }
 
 
 
 /**
  * Code formatting
  */
 pre,code {
   font-size: 14px;
   //border: 1px solid $grey-color-light;
   border-radius: 3px;
   background-color: $code-backgroud-color;
 //  color: $code-font-color;
 //  font-family: monospace;
 }
 
 code {
   padding: 1px 5px;
   line-height: 1.5em;
 }
 /*
 pre {
   padding: 8px 12px;
   overflow: auto; 
 
   > code {
     border: 0;
     padding-right: 0;
     padding-left: 0;
   }
 }*/
 

 
 
 /**
  * Clearfix
  */
 %clearfix {
 
   &:after {
     content: "";
     display: table;
     clear: both;
   }
 }
 


 /**
  * Table
  */
 
 
 table { 
   padding: 0;
   margin-bottom: 5px;
   border-collapse: collapse; 
   font-size: $small-font-size;
 }
 table tr {
   border-top: 1px solid #cccccc;
   background-color: white;
   margin: 0;
   padding: 0;
 }
 table tr:nth-child(2n) { background-color: #f8f8f8; }
 table tr th {
   font-weight: bold;
   border: 1px solid #cccccc;
   margin: 0;
   padding: 3px 6px;
 }
 table tr td {
   border: 1px solid #cccccc;
   margin: 0;
   padding: 3px 6px;
 }
 table tr th :first-child, table tr td :first-child { margin-top: 0; }
 table tr th :last-child, table tr td :last-child { margin-bottom: 0; }
 
 
 /**
  * line between each post on main page
  */
 
 hr{
   margin-bottom: 30px;
   border: 0;
   border-bottom: 1px solid #ccc;
   //border-bottom: 1px dotted #ccc;
 }
 
 cite{ 
   font-style: italic;
   text-decoration: underline;
 }
 
 