@charset "utf-8";

/**
 * Site header
 */
.site-header {
  //Positioning context for the mobile navigation icon
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    margin-left:5px;
    margin-right: 15px;
    float: left;
    height: 70px;
  }
}

.site-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0px;
  padding-top:8px;
  //margin-top: 5px;
  //margin-bottom: 0;
  text-align: left;
  a{
    &,
    &:hover {
      color: $grey-color-dark; //$brand-top-color;
      //border-bottom: 1px dotted;
      text-decoration: none;
    }
  }
}

.site-title-tagline{
  font-size: 18px;
  letter-spacing: 0px;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: left; 
  color: $grey-color;
  //background-color: green;
}

.nav-container {
  min-height: 100%;
  margin: 15px 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  //background-color: bisque;

  .page-link {
    color: $grey-color;
    font-size: $nav-font-size;
    margin-left: 10px;
    margin-right: 10px;
  }

  a{
    text-decoration: none;

    &:hover {
      color: $text-color;
      text-decoration: none;
      //font-weight: bold;
    }
  }

  .icon-link {
    margin-left: 10px;
    margin-right: 10px;
  }

  i.fa {
    color: $grey-color;
    font-size: 26px;

    &:hover {
      color: $grey-color-dark;
      //color: $brand-top-color;
    }
  }
}

.nav-text-col, .nav-icon-col{
  position: relative;
  min-height: 1px;
  //margin: 0px 20px;
  padding: 15px 0;
}
.nav-text-col{
  float: left;
  width: 80%;
}
.nav-icon-col{
  float: right;
  width: 20%;
}

.dropdown {
  z-index: 1;
  position: relative;
  display: inline-block;
  // use page-link class for "Topic" display 
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #fff;
  //border: 1px solid $grey-color-light;
  
  ul{
    list-style-type: none;
    border: 1px solid $grey-color-light;
    margin: 18px 0 0 0;
    padding: 0;
    li {
      //border: 1px solid $grey-color-light;
      padding: 8px 20px;
    }
  }
  a{
    color: $grey-color;
    //padding: 8px 20px;
  
    &:hover {
    color: $text-color;
    }
  }
}


.dropdown:hover .dropdown-content {
  display: block;
}

// clear floats after the text- and icon- columns
.site-nav-container:after {
  content: "";
  display: table;
  clear: both;
}
/*
.dropdown:after {
  content: "";
  display: table;
  clear: both;
}
*/


/**
 * Topic Archive header
*/
.topic-archive-header {
  border-bottom: 1px solid $grey-color-light;
  margin-bottom: 20px;
  h3{
    font-size: 20px;
    font-weight: bold;
    color: $text-color;
  }
}


/**
 * Sidebar
 */

.sidebar-module {
  padding: 0 15px 15px 15px;
  margin: 0 -20px 15px;
  font-size: 14px;
  h4{
    font-size: $base-font-size;
    font-weight: bold;
    color: $grey-color-dark;
  }
  li{
    list-style: none; 
  }

}


/**
 * Site footer
 */

.site-footer {
  clear: both;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid $grey-color-light;
  margin: $spacing-unit 0; 
  padding: $spacing-unit 0;
  font-size: $small-font-size;
}



/**
 * Page content
 */
.page-content {
  margin: 30px 0;
  padding: 0 10px;
  strong { font-weight: bold; }

}

.page-heading {
  font-size: 20px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  //display: block;
  //font-size: 38px;//42px;
  color: $text-color;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  time{
      margin-left: 0px;
      font-style: normal;
      //border-bottom: 1px dotted;
      text-decoration: underline dotted;
  }
}

.post-title {
  font-size: 32px;
  //letter-spacing: -1px;
  line-height: 1;
/*
  @include media-query($on-laptop) {
    font-size: 36px;
  }*/
}



#markdown-toc{
  float: right;
  width:50%;
  background:#f4f7f8;
  padding:20px 15px;
  li{
    padding-top:10px;
    position:relative; 
    list-style-type:none;  
  }
}

#markdown-toc:before{
  content:"Table of Contents";
  font-weight: 700;
  padding-left:10px;
  border-bottom:5px solid $grey-color-light !important;
  display:block;
  font-size:18px
}



.post-content {
  p { padding:$spacing-unit/5 0; } 
  //margin-bottom: $spacing-unit;
  h1 { 
    font-size: 38px;
    line-height:1em;
    @include media-query($on-laptop){
      font-size: 36px;
    }

  }
  h2 {
    font-size: 26px;
    line-height:1em;
    padding: 10px 0 2px 0;
    @include media-query($on-laptop) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 20px;
    padding: 10px 0 2px 0;
    line-height:1em;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 20px;
    line-height:1em;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}


/**
 * Pagination Style
 */

.pager{
  margin-bottom: 60px;
  text-align: center;
  ul { display: block; margin: 20px 0; }
  li{list-style: none;}
  li.previous a{float:left;}
  li.next a{float:right;}
  li.disabled {display:none;}
}

.pager-container{
  min-height: 100%;
  margin: 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  p {font-size: $small-font-size;}
  
  a{
    text-decoration: none;
    color: $text-color;
    font-size: $small-font-size;
    &:hover{
      color: darken(rgb(172, 197, 243), 25%);
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    li {
      padding: 0 5px;
      display: inline;
    }
  }
}

.pager-container:after {
  content: "";
  display: block;
  clear: both;
}

.pager-text-col, .pager-icon-col{
  position: relative;
  min-height: 1px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.pager-text-col{
  float: left;
  width: 30%;
}
.pager-icon-col{
  float: right;
  width: 70%;
}

.number-circle{
  width: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: $grey-color-light;
  text-align: center;
}

.selected{
  background-color: $grey-color-light;
}

.unselected{
  background-color: #fff;
  &:hover{
    background-color: rgb(172, 197, 243);
    color: #fff;
  }
}


/**
 * Tags and Categories Style
 */

.tags-box{
  li {
    list-style: none;
    font-weight: bold;
    margin-top:10px;
  }
  .size{
    font-size: 0.7em; font-weight: bold; vertical-align: super;
  }
}


/*time style of tages and categories*/

time{
  margin-left: 15px;
  font-style: italic;
}


/**
 * Aboutme photo and icon Style
 */

.about{
  padding-top: 10px;
  img{
    float: left;
    height: 300px;
    //margin-top: 20px;
    //margin-left: auto;
    margin-right: 45px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  i.fa {
    color: $brand-color;
    &:hover {
      color: $hover-color;
    }
  }
}


/**
 * New style for quotation.
 */

q:before {
  content: '『';
  color: #DD1144;
  font-weight:bold;
}
q:after {
  content:'』';
  color: #DD1144;
  font-weight:bold;
}


/**
* New style for theorem and remark blocks
*/

.theorem-block{
  border-left: 5px solid #2583ad;
  border-radius: 3px;
  color: $grey-color;
  background: #f9f9f9;
  ol{
    list-style-type:none;
  }

  li:before {
    content:"(" counter(section, decimal) ") ";
  }

  li {
    counter-increment:section;
  }
}

.remark-block{
  border-left: 5px solid rgb(151, 151, 151);
  border-radius: 3px;
  color: $grey-color;
  background: #f9f9f9;
  margin: 10px 10px;
}