@charset "utf-8";
/**
* theorem, remark, example, quote
*/

.theorem {
    background: $background-color;
    border: 1px solid $grey-color;
    margin: 10px 0;
    padding: 10px 15px;
  
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 18px;
    font-style: italic;
    color: $grey-color-dark;

    p { margin: 0; }
    ol { list-style-type:none; }
  
    li:before {
        content:"(" counter(section, decimal) ")  ";
    }
  
    li {
        counter-increment:section;
    }
}

.remark {
    background: #f9f9f9;
    border-left: 4px solid rgb(151, 151, 151);
    //border-radius: 3px;
    margin: 10px 0;
    padding: 10px 15px;

    font-family: Times, "Times New Roman", Georgia, serif;
    color: $grey-color-dark;

    p {margin: 0;}
}

.note {
    background: #f9f9f9;
    border-left: 4px solid rgb(151, 151, 151);
    //border-radius: 3px;
    margin: 10px 0;
    padding: 10px 15px;
    color: $grey-color-dark;

    p {margin: 0;}
}

.example {
    //border: 1px solid $grey-color;
    margin: 10px 0;
    padding: 10px 30px;
}

.quote-source {
    text-align: right;
    font-size: $small-font-size;
    margin: 0;
}

