@charset "utf-8";

/**
 * Site header
 */
.site-header {
  //Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: left;
  a{
    &,
    &:visited
    &:hover {
      color: $grey-color-dark; //$brand-top-color;
      //border-bottom: 1px dotted;
      text-decoration: none;
    }
  }
}

.site-title-tagline{
  font-size: 18px;
  letter-spacing: 0px;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: left; 
  color: $grey-color;
  //background-color: green;
}

.site-title-container{
  padding-right: 0px;
  padding-left: 20px; //$spacing-unit;
  padding-top: 10px;
  padding-bottom: 20px;
}

.site-nav-div {
  line-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  //background-color: green;
  
  .page-link {
    color: $grey-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    margin-left: 10px;
    margin-right: 10px;
  }

  a{
    text-decoration: none;

    &:hover {
      color: $text-color;
      text-decoration: none;
      //font-weight: bold;
    }
  }

  .text-nav-column {
    float: left;
    width: 80%;
    //background-color: yellow;
  }
  
  .icon-nav-column {
    float: left;
    width: 20%;
    //padding-top: 5px;
    //background-color: blue;
  
    .icon-link {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    i.fa {
      color: $grey-color;
      font-size: 24px;
  
      &:hover {
        color: $grey-color-dark;
        //color: $brand-top-color;
      }
    }
  }
}

// clear floats after the text- and icon- columns
.site-nav-div:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  // or do not use a when define Topic
  a{
    color: $grey-color;
    text-decoration: none;

    &:hover {
      color: $text-color;
      text-decoration: none;
      //font-weight: bold;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  //min-width: 80px;
  background-color: #fff;
  border: 1px solid $grey-color-light;
  padding: 10px 30px 10px 20px;
  font-size: 12px;
  a{
    display: block;
    text-decoration: none;

    &:hover {
      color: $text-color;
      text-decoration: none;
      //font-weight: bold;
    }
  }
}

.dropdown:hover .dropdown-content {display: block;}

/**
 * Sidebar
 */

.sidebar-module {
  padding: 15px;
  margin: 0 -20px 15px;
  font-size: 14px;
  h4{
    font-size: $base-font-size;
    font-weight: bold;
    color: $grey-color-dark;
  }
  li{
    list-style: none; 
  }

}


/**
 * Site footer
 */

.site-footer {
  clear: both;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid $grey-color-light;
  margin: $spacing-unit 0; 
  padding: $spacing-unit 0;
  font-size: 14px;
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit+20px 0;
  strong { font-weight: bold; }

}

.page-heading {
  font-size: 20px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  //font-size: 38px;//42px;
  color: $text-color;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  time{
      margin-left: 0px;
      font-style: normal;
      //border-bottom: 1px dotted;
      text-decoration: underline dotted;
  }
}

.post-title {
  font-size: 36px;
  //letter-spacing: -1px;
  line-height: 1;
/*
  @include media-query($on-laptop) {
    font-size: 36px;
  }*/
}



#markdown-toc{
  float: right;
  width:50%;
  background:#f4f7f8;
  padding:20px 15px;
  li{
    padding-top:10px;
    position:relative; 
    list-style-type:none;  
  }
}

#markdown-toc:before{
  content:"Table of Contents";
  font-weight: 700;
  padding-left:10px;
  border-bottom:5px solid $grey-color-light !important;
  display:block;
  font-size:18px
}



.post-content {
  p { padding:$spacing-unit/5 0; } 
  //margin-bottom: $spacing-unit;
  h1 { 
    font-size: 38px;
    line-height:1em;
    @include media-query($on-laptop){
      font-size: 36px;
    }

  }
  h2 {
    font-size: 32px;
    line-height:1em;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    line-height:1em;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    line-height:1em;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}


/**
 * Pagination Style
 */

.pager{
  margin-bottom: 60px;
  text-align: center;
  ul { display: block; margin: 20px 0; }
  li{list-style: none;}
  li.previous a{float:left;}
  li.next a{float:right;}
  li.disabled {display:none;}
}

.pager-container{
  //min-height: 40px;
  //border-top: 1px solid $grey-color-light;
  //border-bottom: 1px solid $grey-color-light;
  font-size: $small-font-size;
  
  a{
    text-decoration: none;
    &:hover{
      color: $text-color;
      text-decoration: none;
    }
  }

  table, tr, td{
    border: none;
  }

  .col-page-num{
    float: left;
    width: 50%;
    height: 45px;
    padding-top: 8px;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
  }

  .col-page-icon{
    float: right;
    width: 50%;
    height: 45px;
    padding-top: 5px;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
  }

  .number-circle{
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: $grey-color-light;
    text-align: center;
  }

  .current-page{
    background-color: $grey-color-light;
  }

  .other-page{
    background-color: #fff;
    &:hover{
      background-color: rgb(172, 197, 243);
      color: #fff;
    }
  }
}

.pager-container:after {
  content: "";
  display: block;
  clear: both;
}

/**
 * Tags and Categories Style
 */

.tags-box{
  li {
    list-style: none;
    font-weight: bold;
    margin-top:10px;
  }
  .size{
    font-size: 0.7em; font-weight: bold; vertical-align: super;
  }
}


/*time style of tages and categories*/

time{
  margin-left: 15px;
  font-style: italic;
}



/**
 * Aboutme photo Style
 */

.about{
  img{
    float: left;
    height: 300px;
    //margin-top: 20px;
    //margin-left: auto;
    margin-right: 45px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  i.fa {
    color: $brand-color;
    &:hover {
      color: $hover-color;
    }
  }
}

.about-div{
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  .about-colum-1{
    float: left;
    width: 30%;
  }
  .about-column-2{
    float: left;
    width: 70%;
    padding-left: 10px; 
  }
}



/**
 * New style for quotation.
 */

q:before {
  content: '『';
  color: #DD1144;
  font-weight:bold;
}
q:after {
  content:'』';
  color: #DD1144;
  font-weight:bold;
}

