@charset "utf-8";
/**
 * main page style
 */

 .container-all {
    min-height: 10px;
    background-color: #fff;
    margin: 0;
    padding: 0.1px;     // prevent margin collapse
    //@extend %clearfix;
}

/*two columns layout*/
.col-sm-8,.col-sm-2{
    position: relative;
    min-height: 1px;
    //margin: 0px 20px;
    //padding-top: 20px;
  }
  
.col-sm-8 {
    float:left;
    width:70%;
    background-color: #777;
}
  
.col-sm-2 {
    float:right;
    width:30%;
    background-color: #ccc;
}
  
/*
@media screen and (min-width : $on-palm) {
    .col-sm-8 {
      float:left;
      width:67%;
    }
  
    .col-sm-2 {
      float:right;
      width:24%;
    }
}*/



/*
* site header layout
*/

.header-container {
    margin: 0;
    //margin-top: 0px;
    padding: 40px 10px;
    //padding: 0;
    width: 100%;
    background-color: $nyu-indigo;
    border-bottom: 1px solid $grey-color;
    z-index: 90;
    position: fixed;
    transition: 0.4s;
    //opacity: 0;
    //@extend %clearfix
}

.navbar{
    max-width: $page-width;
    margin-left: auto;
    margin-right: auto;
    //padding: 40px 10px;
    //padding: 0;
    background-color: #aaa;
    //position: fixed;
    @extend %clearfix;
}

.navbar-logo {
    margin-left:5px;
    margin-right: 15px;
    float: left;
    height: 80px;
}

.navbar-right {
    float: right;
    height: 80px;
    background-color: aqua;
    display: flex;
    //justify-content: center;
    align-items: center;
}

.navbar .navbar-logo{
    transition: 0.4s;
}

.navbar .navbar-right {
    transition: 0.4s;
}

.main-menu {
    list-style-type: none;
    background-color: antiquewhite;
    margin: 0;
    padding: 0px;
    & > li {
        display: inline-block;
        padding: 10px;
    }
    & > li > a {
        font-size: 18px;
        color: $iros-eggplant;
        &:hover {
            text-decoration: none;
        }
    }
}

.sub-menu {
    list-style-type: none;
    text-align: left;
	padding: 0;
	margin: 0;
	min-width: 200px;
  	background-color: #fff;
	z-index: 1;
	//display: none;
  	visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: all 0.8s ease 0s ;
    
    & > li {
        padding: 5px 15px; 
    }
    
    & > li > a {
        font-size: 16px;
        font-weight: 100;
        color: $iros-eggplant;
    }
}

.menu-item-dropdown {
	position: relative;
  
  	&:hover > .sub-menu {
        //display: block;
        visibility: visible;
        opacity: 1;
        //z-index: 1;
        //background-color: aqua;
  	}
    
    &:hover > .sub-menu-contact {
        visibility: visible;
        opacity: 1;
    }
}

.sub-menu-contact {
    padding: 8px 10px;
	margin: 0;
    min-width: 190px;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
  	visibility: hidden;
    position: absolute;
    transition: all 0.8s ease 0s ;
 
    & > a {
        padding: 10px;
    }

    i.fa {
        color: $grey-color-light;
        font-size: 22px;
        transition: color 0.4s ease 0s;
    
        &:hover {
          color: $iros-eggplant;
        }
    }
}



/*
* site body layout
*/

.body-container {
    min-height:100%;
    margin-top: 160px;
    padding: 0px;
    //background-color: #fff;
    background-color: aqua;
    //@extend %clearfix;
    //opacity: 0;
}

.page-content {
    min-height:100%;
    max-width: $page-width;
    
    //margin-top: 100px;
    //margin-top: 0;
    //margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: -webkit-calc( (#{$page-width} - #{$content-width}) / 2);
    padding-left:         calc( (#{$page-width} - #{$content-width}) / 2);
    padding-right: -webkit-calc( (#{$page-width} - #{$content-width}) / 2);
    padding-right:         calc( (#{$page-width} - #{$content-width}) / 2);
    
    background-color: #c4661f;
    @extend %clearfix;
}


/*
* post layout
*/

/* 
  post-title class controls the post title font style in all pages.
  It does not affect the titles in the post contents.
  */
.post-title { 
    font-size: 28px;
  //  letter-spacing: -1px;
    line-height: 1;
}

.post-header {
    margin-bottom: $spacing-unit;
    time{
        margin-left: 0px;
        font-style: normal;
        //border-bottom: 1px dotted;
        text-decoration: underline dotted;
    }
}
  
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
  
.post-link {
    //display: block;
    //font-size: 38px;//42px;
    color: $text-color;
}  
  
.post-content {
    p { padding:$spacing-unit/5 0; } 
    margin-bottom: $spacing-unit;
    h1 { 
      font-size: 28px;
      line-height:1em;
      @include media-query($on-laptop){
        font-size: 26px;
      }
  
    }
    h2 {
      font-size: 24px;
      line-height:1em;
      padding: 10px 0 2px 0;
      @include media-query($on-laptop) {
        font-size: 22px;
      }
    }
  
    h3 {
      font-size: 20px;
      padding: 10px 0 2px 0;
      line-height:1em;
  
      @include media-query($on-laptop) {
        font-size: 18px;
      }
    }
  
    h4 {
      font-size: 16px;
      line-height:1em;
  
      @include media-query($on-laptop) {
        font-size: 16px;
      }
    }
}
  
.post-content a{
    color: $brand-color;    
    text-decoration: none;  
  //border-bottom: 1px dotted;
    &:hover {               
      color: $hover-color;
      text-decoration: underline;
    }  
}


/*
* site footer layout
*/

.footer-container {
    margin: 0;
    padding: 0;
    background-color: $iros-eggplant;
    //border-bottom: 1px solid $grey-color;
    min-height: 1px;
    padding-top: 20px;
    padding-bottom: 10px;
    //position: fixed;
    //@extend %clearfix;
    //opacity: 0;
}

.footer-content {
    background-color: red;
    max-width: $page-width;
    min-height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    @extend %clearfix;
}

.footer-half-col {
    width: 50%;
    position: relative;
    float: left;
    color: #fff;
    background-color: #111;
    //padding: 0 10px;
    p, a {
        font-size: $small-font-size;
        color: #fff;
    }
    & > span > a {
        padding: 0 5px;
    }
}

.icon-background {
    visibility: hidden;
    color: #c4661f;
    opacity: 0;
    padding: 0 0px;
}

.fa-stack, .icon-background {
    transition: 0.5s all ease 0s;
}

.fa-stack { 
    .icon-footer {
        font-size: 15px;
        color: #fff;
    }
    .icon-background {
        font-size: 34px;
    }

    &:hover .icon-background {
        visibility: visible;
        opacity: 1;
    }
}



/**
 * Sidebar
*/

.sidebar-module {
    padding: 0px 5px 20px 5px;
    //margin: 0px;
    font-size: $small-font-size;
    h4{
      font-size: $base-font-size;
      font-weight: bold;
      color: $grey-color-dark;
    }
    li{
      list-style: none; 
    }
}


/**
 * Topic Archive header
*/

.topic-archive-header {
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: 10px;
    h3 {
        font-size: 18px;
        font-weight: bold;
        color: $text-color;
        //line-height: 1;
    }
}


/*
* page index layout, for blog, topic (multiple pages required)
*/

.page-index {
    padding: 10px 0;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;

    display: flex;
    align-items: center;
    @extend %clearfix;

    p, a {
        font-size: $small-font-size;
        color: $text-color;
        &:hover {
            text-decoration: none;
        }
    }
    li {
        list-style: none;
        display: inline;
        padding: 0 5px;
    }
}

.page-index-half-col{
    width: 50%;
    position: relative;
    min-height: 1px;
    float: left;
    background-color: #fff;
}

.page-index-icon{
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: $grey-color-light;
    text-align: center;
}
  
.selected{
    background-color: $grey-color-light;
    color: $text-color;
}
  
.unselected{
    background-color: #fff;
    &:hover {
        background-color: rgb(172, 197, 243);
        color: #fff;
    }
}

/*
* post index layout, for each post (only previous and next)
*/

.post-index {
    //margin-bottom: 30px;
    background-color: red;
    text-align: center;
    ul { 
        display: block; 
        margin: 0 10px;
    }
    li { list-style: none; }
    li.previous a { float:left; }
    li.next a { float:right; }
    li.disabled { display:none; }
    @extend %clearfix;
}




  #markdown-toc{
    float: right;
    width:50%;
    background:#f4f7f8;
    padding:20px 15px;
    li{
      padding-top:10px;
      position:relative; 
      list-style-type:none;  
    }
  }
  
  #markdown-toc:before{
    content:"Table of Contents";
    font-weight: 700;
    padding-left:10px;
    border-bottom:5px solid $grey-color-light !important;
    display:block;
    font-size:18px
  }
  

/**
 * Aboutme photo and icon Style
 */

.about{
  	padding: 20px 10px 20px 10px;
  	img {
    	float: left;
    	height: 300px;
    //margin-top: 20px;
    //margin-left: auto;
    	margin-right: 45px;
    	border: 1px solid #ddd;
    	border-radius: 4px;
    	padding: 5px;
  	}
  	i.fa {
    color: $brand-color;
    &:hover {
      color: $hover-color;
    	}
  	}
}
