<!--
  In this case, total blog pages are > 5 and current page is the last page. 
  There are NO next and last icons.  
  pre and first icons exist.
-->
<table>
  <tr>
  <!--plot pre and first icons-->
  {% assign baseurl = site.baseurl | append: "/"%}
  <td><a href="{{pgurl}}">&#8810;First</a></td>
  {% assign tmp = paginator.total_pages %}
  {% for i in (1..5)%}
    {% decrement tmp %}
  {% endfor %}
  {% assign pgurl = baseurl | append: "page" | append: tmp | string %}
  <td><a href="{{pgurl}}">
    <div class="number-circle other-page">&lt;</div>
  </a></td>
  
  {% increment tmp%}
  {% for pg in (tmp..paginator.total_pages) %}  
    {% if pg == paginator.total_pages %}
      {% assign pgurl = baseurl %}
      <td><a href="{{pgurl}}">
        <div class="number-circle current-page"> {{pg}} </div>
      </a></td>
    {% else %}
      {% assign pgurl = baseurl | append: "page" | append: pg | string %}
      <td><a href="{{pgurl}}">
        <div class="number-circle other-page"> {{pg}} </div>
      </a></td>
    {% endif%}
  {% endfor %}
  </tr>
</table>