<!--
  In this case, total blog pages are > 5 and current page is 1. 
  There are NO pre and first icons.  
  next and last icons exist.
-->
<table>
  <tr>
  {% assign baseurl = site.baseurl | append: "/"%}
  {% for pg in (1..5) %}  
    {% if pg == 1 %}
      {% assign pgurl = baseurl %}
      <td><a href="{{pgurl}}">
        <div class="number-circle current-page"> {{pg}} </div>
      </a></td>
    {% else %}
      {% assign pgurl = baseurl | append: "page" | append: pg | string %}
      <td><a href="{{pgurl}}">
        <div class="number-circle other-page"> {{pg}} </div>
      </a></td>
    {% endif%}
  {% endfor %}

  <!--plot next and last icons-->
  {% assign pgurl = baseurl | append: "page" | append: 6 | string %}
  <td><a href="{{pgurl}}">
    <div class="number-circle other-page">&gt;</div>
  </a></td>
  {% assign pgurl = baseurl | append: "page" | append: paginator.total_pages | string %}
  <td><a href="{{pgurl}}">Last &#8811;</a></td>
  </tr>
</table>