<!--
  In this case, total blog pages are > 5 and current page >1, <last. 
  Both pre/next and first/last icons exist.
  ???
-->
<table>
    <tr>
  {% assign pgurl = site.baseurl | append: "/"%}
  {% for pg in (1..paginator.total_pages) %}  
    {% if pg == paginator.page %}
      {% if pg != 1%}
        {% assign pgurl = pgurl | append: "page" | append: pg | string %}
      {% endif %}
      <td><a href="{{pgurl}}">
        <div class="number-circle current-page"> {{pg}} </div>
      </a></td>
      <!--td>{{pgurl}}</td-->
    {% else %}
      {% if pg != 1%}
        {% assign pgurl = pgurl | append: "page" | append: pg | string %}
      {% endif %}
      <td><a href="{{pgurl}}">
        <div class="number-circle other-page"> {{pg}} </div>
      </a></td>
      <!--td>{{pgurl}}</td-->
    {% endif%}
  {% endfor %}
    </tr>
</table>