---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: 'Roboto', sans-serif;
//$base-font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif !important;
$base-font-size:   16px;
$nav-font-size:    18px;
$small-font-size:  $base-font-size * 0.875;  //14px
$tiny-font-size:   $base-font-size * 0.75;  //10px
$base-line-height: 1.6em;

$spacing-unit:     15px;

$text-color:       #111;
$background-color: #e6e6e6;
$brand-color:      #2a7ae2;
//$brand-top-color:  #2583ad;
$hover-color:      #669900;
//$hover-color:      #DD1144;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

$nyu-indigo: rgb(87,6,140);
$penn-carmine: rgb(149,0,26);
$penn-blue: rgb(1,40,113);
$iros-eggplant: rgb(98,64,92);

//$code-backgroud-color: #29281e;
//$code-font-color:  #eee;  
$code-backgroud-color: rgb(246,248,250);
$code-font-color: rgb(59,59,59);

// Width of the content area
$content-width:    960px;
$page-width:       1050px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "layout_research"
        //"_syntax-highlighting-native" // "syntax-highlighting"
;

@import url('http://fonts.googleapis.com/css?family=Roboto:wght@100;300&display=swap');
//@import url('http://fonts.googleapis.com/css?family=Open+Sans');
//@import url('http://fonts.googleapis.com/css?family=Lato');
//@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');