<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div class="container-all">
        
    {% include header1.html %}

    <div class="body-container">

    {% if page.single_col_layout %}  
    
        <div class="page-xxx">
            {{ content }}
        </div>

    {% else %}

        <div class="page-content col-sm-8">
            {{ content }}
        </div>
        {% include sidebar.html %}

    {% endif %}

    </div>

    {% include footer1.html %}
    </div>

</body>

</html>
