<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div class="container-all">
        
    {% include header.html %}

    <div class="body-container">
        <div class="page-content">
            {% if page.single_col_layout %}
            <div class="page-content-single-col">
                {{ content }}
            </div>
                
            {% else %}
            
                <div class="col-sm-8">
                    {{ content }}
                </div>
                {% include sidebar.html %}

            {% endif %}
        </div>
    </div>

    {% include footer.html %}

</div>
</body>

</html>
